body{
    color: #230C0F;
    font-family: Arial,Arial Bold,Gadget,sans-serif; 
    background-color: #EFF2C0;
}
h1{
    color:#E54B4B;
    text-align: center;
    margin-top: center;
}
h2{
    text-align: center;
}