body{
    color: #230C0F;
    background-color: #EFF2C0;
}
h1{
    color:#E54B4B;
    font-family: "Arial Black", "Arial Bold", sans-serif,;
    font-size: 44px;
    text-align: center;
    margin-top: center;
}
h2{
    text-align: center;
}