body{
    color: #230C0F;
    background-color: #EFF2C0;
    margin: 0;
}
h1{
    font-family: "Arial Black", "Arial Bold", sans-serif;font-size: 44px;
    text-align: center;
    color:#E54B4B;
    margin: 0;

}
h2{
    font-family: "Arial Black", "Arial Bold", sans-serif;font-size: 35px;
    text-align: center;
    color:#E54B4B;
}
p{
    font-family: "Century Gothic", sans-serif; font-size: 24px;
    text-align: center;
    margin: 10px;

}

a:link, a:visited {
    color: #E54B4B;
    text-decoration: none;
}
/*etusivu */
.yla{
    color:#E54B4B;
    font-family: "Arial Black", "Arial Bold", sans-serif;font-size: 44px;
    text-align: center;
    position: absolute;
}
.ala{
    text-align: center;
    font-family: "Arial Black", "Arial Bold", sans-serif;
}
.cv{
    padding-top: 100px;
}


header{
    background-color: #230C0F;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
nav{
    padding: 10px;
    height: fit-content;
    text-align: right;
    font-family: "Arial Black", "Arial Bold", sans-serif;font-size: 32px;
 
}
#valittu{
    color: #EFF2C0;
}
.cvsisalto{
    
    text-align: center;
    display: block;
}


/*kuvat */
.joona{
    max-width: 500px;
    width: 80%;

}
.marko{
    max-width: 500px;
    width: 80%;
}


/* portfolio*/
.portlink{
    color: #E54B4B;
    text-decoration: none;
    font-family: "Century Gothic", sans-serif; font-size: 24px;

}
.portsisa{
    text-align: center;
    display: block;
}


footer{
    font-family: "Century Gothic", sans-serif; font-size: 24px;
    background-color: #230C0F;
    color: #EFF2C0;
    display: flex;
    width: 100%;
    bottom: 0;
    position: fixed;
}

@media(max-width: 600px) {
    #yla {
        background-image: url(kuvat/kallio_tausta2.jpg);
        background-size: cover;
        height: 400px;
    }
    #ala {
        background-image: url(kuvat/kallio_tausta2.jpg);
        background-size: cover;
        height: 400px;
    }
    #marko{
        max-width: 100px;
        width: auto;
    }
}
@media screen and (min-width: 600px) {
    #yla {
        background-image: url(kuvat/kallio_tausta2.jpg);
        background-size: cover;
        height: 450px;
    }#ala {
        background-image: url(kuvat/kallio_tausta2.jpg);
        background-size: cover;
        height: 450px;
    }
}
@media screen and (min-width: 1200px) {
    #yla {
        background-image: url(kuvat/kallio_tausta2.jpg);
        background-size: cover;
        height: 450px;
    }
    #ala {
        background-image: url(kuvat/kallio_tausta2.jpg);
        background-size: cover;
        height: 450px;
    }
}